  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --page-section-splash-overlay: 0.20;
      --page-section-splash-light-opacity: 0.7;
      --page-section-splash-dark-opacity: 0;
      --background: 210 6% 99%;
      --background-secondary: 210 7% 96%;
      --foreground: 0 0% 12%;

      --dashboard: 210 6% 97%;
      --dashboard-header: 210 7% 93%;
      --dashboard-foreground: 0 0% 12%;

      --card: 0 0% 100%;
      --card-foreground: 0 0% 12%;

      --popover: 0 0% 100%;
      --popover-foreground: 0 0% 12%;

      --primary: 0 0% 14%;
      --primary-foreground: 0 0% 98%;

      --secondary: 0 0% 90%;
      --secondary-foreground: 0 0% 14%;

      --inlay: 0 0% 16%;
      --inlay-secondary: 0 0% 22%;
      --circuit: 0 0% 88%;
      --circuit-secondary: 0 0% 80%;

      --muted: 0 0% 95%;
      --muted-foreground: 0 0% 34%;

      --accent: 0 0% 94%;
      --accent-foreground: 0 0% 14%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 0 0% 82%;
      --input: 0 0% 96%;
      --ring: 0 0% 20%;

      --radius: 0.5rem;
    }

    .dark {
      --page-section-splash-overlay: 0.6;
      --page-section-splash-light-opacity: 0;
      --page-section-splash-dark-opacity: 0.7;
      --background: 210 5% 4%;
      --background-secondary: 210 6% 7%;
      --foreground: 0 0% 94%;
      
      --dashboard: 210 5% 9%;
      --dashboard-header: 210 6% 6%;
      --dashboard-foreground: 0 0% 94%;

      --card: 0 0% 8%;
      --card-foreground: 0 0% 94%;

      --popover: 0 0% 8%;
      --popover-foreground: 0 0% 94%;

      --primary: 0 0% 96%;
      --primary-foreground: 0 0% 8%;

      --secondary: 0 0% 14%;
      --secondary-foreground: 0 0% 94%;

      --inlay: 0 0% 12%;
      --inlay-secondary: 0 0% 9%;
      --circuit: 0 0% 14%;
      --circuit-secondary: 0 0% 18%;

      --muted: 0 0% 12%;
      --muted-foreground: 0 0% 70%;

      --accent: 0 0% 13%;
      --accent-foreground: 0 0% 94%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 0 0% 20%;
      --input: 0 0% 10%;
      --ring: 0 0% 30%;
    }
  }

@keyframes shimmer {
  0% {
      background-position: -100px 0;
  }
  100% {
      background-position: 100px 0;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

body,
body *,
body *::before,
body *::after {
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, box-shadow;
  transition-duration: 1200ms;
  transition-timing-function: ease-out;
}
