.dark .portfolio-card-background {
  background-image: var(
    --portfolio-card-dark-image,
    var(--portfolio-card-image, none)
  );
}

.dark [data-portfolio-has-dark-theme="false"] [data-portfolio-has-theme="true"] .portfolio-card-title {
  color: #111827;
}

.dark
  [data-portfolio-has-dark-theme="false"]
  [data-portfolio-has-theme="true"] .portfolio-language-meter-value,
.dark
  [data-portfolio-has-dark-theme="false"]
  [data-portfolio-has-theme="true"] .portfolio-language-meter-row
  .portfolio-language-meter-value,
.dark
  [data-portfolio-has-dark-theme="false"]
  [data-portfolio-has-theme="true"] .portfolio-language-meter-row {
  color: #111827;
}
